.myButton {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
    border-radius: 4px; 
    background-color: greenyellow;
}